<% provide(:title, "Cart") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Page of Cart</h1>
    <p>This site to show a cart and products in this cart</p>
  </body>
</html>

