<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>Home Pages</h1>
    <p>This site to show all product and product categories</p>
  </body>
</html>

